@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NeueLeiden;
  src: url(../public/font/NeueLeiden-Regular.woff) format("truetype");
}

.typo_normal {
  @apply text-[16.48px] text-BabyPowder-0 leading-[20.48px] tracking-[-0.12px];
}

.sub-heading {
  @apply font-bold text-CreamyWhite-0 text-[46.4px] leading-[53.36px] tracking-[-0.928px];
}
.sub-heading-regular {
  @apply text-BabyPowder-0 text-[46.4px] leading-[53.36px] tracking-[-0.928px];
}

.heading {
  @apply text-[48.43px] md:text-[58.73px] md:leading-[63.74px] font-bold text-CreamyWhite-0 leading-[46.69px] tracking-[-0.85px];
}

.glass {
  background: rgba(43, 42, 42, 0.65);

  box-shadow: 0 8px 32px 0 rgba(42, 42, 43, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-circle {
  background: rgba(128, 127, 127, 0.65);

  box-shadow: 0 8px 32px 0 rgba(228, 228, 228, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(145, 126, 126, 0.18);
}
.glass-icon {
  background: rgba(204, 203, 203, 0.253);

  box-shadow: 0 8px 32px 0 rgba(228, 228, 228, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(145, 126, 126, 0.18);
}
